.container{
    height: 600px;
    border: 1px solid black;
    margin-top: 25px;
}

.header {
    margin: auto;
    padding: 10px;
    text-align: center;
}

.outerBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 250px;
}

.innerBox{
    display:flex;
    justify-content: space-around; 
    border: 1px solid black;
    width: 50vh;
    height: 50%;
}